.container {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: grey;
}
body {
  margin: 0;
}
.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  right: 0;
  display: block;
  top: 0px;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  display: block;
  top: 0;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: fixed;
  left: 300px;
  top: 0px;
  left: 0px;
}
